html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background {
    width: 50rem;
    height: 25rem;
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-message {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="text"] {
    width: 15rem;
    padding: 15px;
    margin-bottom: 4rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
    color: #333;
    background-color: #fff;
}

button {
    width: 10rem;
    padding: 15px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(35, 73, 156);
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(25, 43, 83);
}